* {
    background-color: #E5D4CE;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    color: #040403;
    font-size: 14pt;
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 2%;
}

h1 {
    font-size: 30pt;
    text-align: center;
}

h2 {
    font-size: 20pt;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border: solid #040403 5px;
    border-radius: 8%;
}

a {
    color: #4F5D2F;
    text-decoration: none;
}

a:hover {
    color: #CD4631;
}