* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-size: 14pt;
    margin: 3% auto;
    background-color: #ffffff;
    width: 800px;
}

.title {
    font-size: 30pt;
    text-align: center;
    background-color: #4A6670;
    color: #ffffff;
    padding: 3% 0;
}

h2 {
    font-size: 20pt;
}

img {
    border: solid #040403 5px;
    border-radius: 8%;
    height: auto;
    width: 400px;
    display: block;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    color: #DB2B39; 
    text-decoration: none;
}